# <% provide(:nav, "noNav") %>

# <body class="faqbody staticPagesBody">
# <div class="container">
# <h1>Frequently Asked Questions</h1>
# <div class="sections">
#   <h4>1. What is Flipcoin?</h4>
#   <p>Flipcoin is the new cryptocurrency launched by Chicagoland ATM company <a href="http://www.coinflip.tech">Coinflip</a>.</p>
# </div>
# <div class="sections">
#   <h4>2. How do I invest in Flipcoin?</h4>
#   <p>There are three steps to invest in Flipcoin. First sign up for an account <a href="/signup">here</a>. After you confirm your email address, you will find the Ether address of our crowdsale contract. Using MyEtherWallet, send the ether you would like to invest to the crowdsale contract, and you will have successfully invested in Flipcoin!</p>
# </div>
# <div class="sections">
#   <h4>3. What is Know Your Customer(KYC)?</h4>
#   <p>KYC is the process of a business identifying and verifying the identity of clients. As cryptocurrency undergoes increased regulation from the SEC, in order to protect ourselves, we are asking for additioning information from investors including a name, address, and phone number.</p>
# </div>
# <div class="sections">
#   <h4>How much money if flipcoin raising?</h4>
#   <p>Our target is $100,000 with a cap of $5 million. This means, if we are unable to reach our target goal, we will refund all money invested, and if we reach our cap of $5 million, no other coins will be distributed, and the ICO will end.</p>
# </div>
# <div class="sections">
#   <h4>What happens if you don't reach your target?</h4>
#   <p>If at the end of distribution, the target goal has not been met, investors may initiate the refund callback on the crowdsale contract.</p>
# </div>
# <div class="sections">
#   <h4></h4>
#   <p></p>
# </div>
# </div>
# <!-- Footer bar -->
# <div id="footer">
#   <div class="container">
#     <div class="row">
#       <div class="col-sm-6">
#         <h6 class="title">Contact Us</h6>
#         <ul class="nospace linklist contact">
#           <li><i class="fa fa-map-marker"></i>
#             <address>
#             Illinois, United States of America
#             </address>
#           </li>
#           <li><i class="fa fa-phone"></i>(773)-800-0106</li>
#           <li><i class="fa fa-envelope-o"></i>info<span class="x">[at]</span>coinflip<span class="x">[dot]</span>tech</li>
#           <li><i class="fa fa-twitter"></i><a href="https://twitter.com/coinflipatm" class="linki blk">Twitter</a></li>
#           <li><i class="fa fa-facebook"></i><a href="https://www.facebook.com/coinflipllc/" class="linki blk">Facebook</a></li>
#         </ul>
#       </div>
#       <div class="col-sm-6">
#         <h6 class="title">Important Links</h6>
#         <ul class="nospace linklist">
#           <li><a class="linki blk" href="https://www.youtube.com/watch?v=Ai35-5q_wZIz">What is CoinFlip?</a></li>
#           <li><a class="linki blk" href="http://thebubbashow.org/bitcoin-atms-make-buying-and-selling-simple/">Daniel &amp; Todd “Bubba” Horwitz talk CoinFlip (Bubba Show)</a></li>
#           <li><a class="linki blk" href="https://cointelegraph.com/news/coinflip-atms-only-support-btc-not-bcc">CoinFlip's stance on the bitcoin hard fork</a></li>
#           <li><a class="linki blk" href="https://www.cryptoninjas.net/2017/08/02/coinflip-bitcoin-atm-adds-ether-litecoin-capabilities/">CoinFlip Bitcoin ATMs add Ether and Litecoin capabilities</a></li>
#         </ul>
#       </div>
#     </div>
#   </div>
# </div>
# <footer class="copyrightbar">
#   <div class="container">
#     © GPD Holdings, LLC 2016  FinCEN MSB BSA # 31000077968050
#   </div>
# </footer>
# </body>