<body id="homebody">
<!-- Navigation bar -->
<div class="header fixed-header">
	<div class="nav-container">
		<div class="logo">
			<a href="#">
				<%= image_tag("coinflip-coin@.5x.png", :alt => "") %>
			</a>
		</div>
		<div class="navigation">
			<ul>
				<li><a href="#">Element 1</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/signup">Sign Up</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="main-outer text-center">
	<!-- Home Banner -->
	<div id="particles-js"></div>
	<div class="full-page-banner">
		<div class="introduction-content max-size">
			<div class="container">
				<div class="logo">
					<a href="#">
						<%= image_tag("coinflip-logo.png", :alt => "") %>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- About us section -->
	<div class="about-us">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="responsive-embed responsive-embed-16by9">
						<iframe class="responsive-embed-item" src="https://www.youtube.com/embed/Ai35-5q_wZI?&rel=0" frameborder="0" allowfullscreen></iframe>	
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="contact-us"></div>
	<!-- Footer bar -->
	<footer>
		<div class="container">
			<div class="row text-center">
				<div>© CoinFlip 2017. All Rights Reserved.</div>
			</div>
		</div>
	</footer>
</div>
<%= javascript_include_tag 'particles', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'particles-app', 'data-turbolinks-track': 'reload' %>
</body>