
  <table style="background-color: #DFA94F);background-size:100% 100%;background-position:top center" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="2b2e34">
    <tbody>
      <tr>
        <td>
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td style="font-size:90px;line-height:90px" height="90">&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <table style="border-top-left-radius:4px;border-top-right-radius:4px" width="510" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                      <tr>
                        <td style="font-size:7px;line-height:7px" height="7">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table width="510" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                      <tr>
                        <td align="center">
                          <a href="https://www.flipcoinsale.com" style="display:block;border-style:none!important;border:0!important">
                            <%= image_tag("coinflip-coin@.5x.png", :alt => "coinflip logo", :class => "logo") %>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size:35px;line-height:35px" height="35">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table style="width:510px;background-color:white!important" width="510" cellspacing="0" cellpadding="0" border="0" bgcolor="ffffff" align="center">
            <tbody>
              <tr>
                <td>
                  <table style="width:510px;background-color:white!important" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                      <tr>
                        <td style="font-size:40px;line-height:40px" height="40">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="center">
                          <table height="580" width="440" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tbody>
                              <tr>
                                <td style="color:#656565;font-size:24px;font-family:'Varela Round',sans-serif;line-height:30px" align="left">
                                  <div style="line-height:30px">
                                    <p>Hello <%= @user.firstName %> <%= @user.lastName %>,<br></p> 
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size:20px;line-height:20px" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
                          <table width="440" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tbody>
                              <tr>
                                <td style="color:#737b8c;font-size:16px;font-family:'Varela Round',sans-serif;line-height:24px" align="left">
                                  <div style="line-height:24px">
                                    <p>
                                        Thank you for joining <a href="https://coinflip.tech" class="link">CoinFlip</a>! To finish signing up, please click on 
                                        <span style="color:#1c2029">
                                          <%= link_to "this link", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                                        </span> to confirm your email address.<br><br>
                                    </p>
                                    <p>
                                        If you have trouble opening it in your browser, please contact us IMMEDIATELY via email (info [at] coinflip [dot] tech) or by phone (+1.224.688.9977).<br><br>
                                    </p>
                                    <p>
                                        Thank you,<br>
                                        The CoinFlip Team
                                    </p>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size:35px;line-height:35px" height="35">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="font-size:30px;line-height:30px" height="30">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
      </td>
    </tr>
    <tr>
      <td>
        <u></u>
          <table style="width:510px;background-color:white!important" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
              <tr>
                <td>
                  <table width="510" cellspacing="0" cellpadding="0" border="0" bgcolor="f2f4f6" align="center">
                    <tbody>
                      <tr>
                        <td style="font-size:20px;line-height:20px" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
                          <table width="440" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tbody>
                              <tr>
                                <td align="center">
                                  <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="left">
                                    <tbody>
                                      <tr>
                                        <td align="center">
                                          <table cellspacing="0" cellpadding="0" border="0" align="center">
                                            <tbody>
                                              <tr>
                                                <td style="color:#757575;font-size:14px;font-family:'Questrial',sans-serif;line-height:30px" align="center">
                                                  <div style="line-height:30px">
                                                    <span style="color:#DFA94F"><a href="http://www.flipcoinsale.com" target="_blank">flipcoinsale.com</a></span> © Copyright 2017
                                                  </div>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table style="border-collapse:collapse" width="5" cellspacing="0" cellpadding="0" border="0" align="left">
                                    <tbody>
                                      <tr>
                                        <td style="font-size:20px;line-height:20px" width="5" height="20">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="right">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="right">
                                            <tbody>
                                              <tr>
                                                <td>
                                                  <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                      <tr>
                                                        <td style="color:#757575;font-size:14px;font-family:'Questrial',Helvetica,sans-serif;line-height:22px" align="center">
                                                          <div style="line-height:22px">
                                                            <span>
                                                              <a href="https://flipcoinsale/login" style="color:#DFA94F;text-decoration:none" class="link" target="_blank">Sign in</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://coinflip.tech/#footer" style="color:#DFA94F;text-decoration:none" class="link" target="_blank">Contact us</a>
                                                            </span>
                                                          </div>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size:20px;line-height:20px" height="20">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="font-size:40px;line-height:40px" height="40">&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <table style="width:510px;background-color:transparent" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
              <tr>
                <td style="font-size:90px;line-height:90px" height="90">&nbsp;</td>
              </tr>
            </tbody>
          </table>
        <u></u>
      </td>
    </tr>
  </tbody>
</table>














