<p>Hi <%= @user.firstName %>,</p>

<p>
Thank you so much for your planned contribution. We are incredibly grateful for the opportunity to continue to expand the cryptocurrency sector. Your trust and support is much appreciated.
</p>
<br />
<p>
--The CoinFlip Team
</p>
<br />
<p>
PS--we also accept USD!
</p>