<!-- 
  FLIPCOIN PRESALE IS NOW LIVE!
  August 25, 2017
  -->

<% provide(:title, @user.firstName + " " + @user.lastName ) %>

<!-- <p id="notice"><%= notice %></p> -->
<div class="container STATE one-edge-shadow profile-form">
  <h2 class="greeting">
    FlipCoin Presale - Now Live!<br>
    <span>Become a Member Today</span>
    </h2>
  <p class="pp-description">
 	 We are currently in Presale. Once we begin distribution, you will find the address to the Crowdsale contract here.
  </p>
  <p class="pp-description">
  	Have questions?<br>
  	Don't be afraid to reach out, we're nice.
  </p>
  <p class="pp-description">
  	<i class="fa fa-heart fa-2x"></i>
  </p>
  <p class="pp-description shrink">
  (224)-688-9977 &nbsp;&nbsp;|&nbsp;&nbsp; <a class="link" href="mailto:info@coinflip.tech">info@coinflip.tech</a>
  </p>
  
</div>
<div id="user-edit" class="CTRL kamikaze_btn inv">
	<% if current_user.admin %>
		<%= link_to 'Edit Profile', edit_user_path(@user) %>
	<% end %>
</div>