<% provide(:title, @user.firstName + " " + @user.lastName ) %>

<!-- <p id="notice"><%= notice %></p> -->
<div class="container STATE one-edge-shadow profile-form">
  <h2 class="greeting">FlipCoin is Live in Presale!</h2>
  <p class="paragraph center announcement">
 	 	CoinFlip & the FlipCoin team are extremely excited to announce  deployment of our token and crowdsale.<br><br>
 	 	Thank you to everyone for your continued support!<br>
 	 	<span class="bold">Scroll down to get started!</span>
  </p>
  <p class="pp-description" style="margin-bottom:10px!important;margin-top: 35px !important;">
  	<i class="fa fa-heart fa-2x"></i>
  </p>
</div>
<div class="container one-edge-shadow profile-form">
	<p id="usr-msg" class="flip-orange">IMPORTANT! A minimum of 0.001 ETH is required! Otherwise, the transaction will fail.</p>
	<div class="row">
	<!-- <h5>What's Important</h5> -->
		<div class="col s12 m10 nf">
	  	<div class="card">
	    	<div class="card-content activator">
	      	<span class="card-title activator org">Crowdsale Contract Address<i class="material-icons right"></i></span>
	      	<p>Official FlipCoin Crowdsale</p>
	    	</div>
	    	<div class="card-reveal">
	      	<span class="card-title org"> Crowdsale Contract Address<i class="material-icons right"></i></span>
	      	<p style="font-size:1em !important;margin-top:20px;">0x754FCa5728bEf644Cc695c2F501dBBa818a1E560</p>
	    	</div>
	  	</div>
	  	<p class="note">Send ETH or BTC to this address in exchange for FlipCoin (ATM)</p>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m10 nf">
	  	<div class="card">
	    	<div class="card-content activator">
	      	<span class="card-title activator org">FlipCoin Token Address<i class="material-icons right"></i></span>
	      	<p>WARNING! Do not send funds to this address, they will be lost.</p>
	    	</div>
	    	<div class="card-reveal">
	      	<span class="card-title org">FlipCoin Token Address<i class="material-icons right"></i></span>
	      	<p style="font-size:1em !important;margin-top:20px;">0xD4Bc8dfd5EB9B72C166Cb7dAaf025Ac4F7b1FE91</p>
	    	</div>
	  	</div>
	  	<p class="note">Claim ownership of your tokens (after purchase) by viewing it at this address.</p>
		</div>
	</div>

	<div class="row">
		<h5 style="margin-top:40px;">Getting Started</h5>
		<div class="col s12 m10 nf">
		  <div class="card">
		    <div class="card-content">
		      <p class="lg"><span class="bold">If you're new to this</span>, or <span class="bold">just need some help</span>, no worries - we're here to help!</p>
		    </div>
		    <div class="card-tabs">
		      <ul class="tabs tabs-fixed-width">
		        <li class="tab"><a class="active" href="#eth">ETH Instructions</a></li>
		        <li class="tab"><a href="#btc">BTC Instructions</a></li>
		      </ul>
		    </div>
		    <div class="card-content grey lighten-4">
		      <div id="eth">	
		      	<h6>Buying FlipCoins with Ether</h6>
			      <p class="paragraph center lg" style="text-align:left!important;">
			      	If you already have a wallet, skip to Step 3.<br><br>
			      	1. Go to <a href="https://www.myetherwallet.com">MyEtherWallet</a> and follow the instructions in "Create New Wallet" (be sure to read carefully).<br><br>
					 		2. Next, add funds to your wallet (there are many alternatives for doing so, e.g. Gemini or Coinbase).<br><br>
					 		3. Click on the "Send Ether & Tokens" tab and enter your Private Key (it's a long string of characters & numbers - you should have saved this).<br><br>
					 		4. Enter the contract address (see above) in the "To Address" field (this is the address of the FlipCoin crowdsale on the Ethereum Network!)<br><br>
					 		5. Enter the amount of ETH you'd like to exchange for FlipCoins.<br><br>
					 		6. Set your gas limit to 200,000 (just to be safe).<br><br>
					 		7. Click "Generate Transaction".<br><br>
					 		8. Finally, click "Send Transaction" and confirm!
					 	</p>
		      </div>
		      <div id="btc">
		      	<h6>Buying FlipCoins with Bitcoin</h6>
			      <p class="paragraph center" style="text-align:left!important;">
			      	If you already have a wallet, skip to Step 3.<br><br>
			      	1. Download <a href="">Electrum Wallet</a>.<br><br>
			      	2. Record your BTC wallet on your profile page on flipcoinsale.com during the token sale, and send your desired BTC amount using the contract address provided above.<br><br>
			      	3. Go to Tools > Sign/verify message.<br><br>
			      	4. In the "Message" field, enter an Ethereum wallet address that can receive FlipCoin (e.g. <a href="https://www.myetherwallet.com">MyEtherWallet</a>).<br><br>
			      	5. Enter the Bitcoin sending wallet address in the "Address" field.<br><br>
			      	6. Click on the "Sign" button and enter your password when prompted.<br><br>
			      	7. Receive signature (field should now be populated).<br><br>
			      	8. Send these three fields over to us in the following format, and we'll take care of the rest!<br><br>
			      	<span style="text-align:center">
			      	BTC Address (Message)
			      	Ethereum Address (Address)
			      	Signature (Signature)
			      	</span><br><br>
			      	9. You’re done! We’ll confirm your message and make sure no one could forge what you sent us.
					 	</p>
					 	<p class="pp-description">
					 		For more information, feel free to check out the resources below:
					 	</p>
					 	<p class="pp-description">
					 	<a href="https://forum.bitcoin.com/technical-support/how-to-sign-verify-message-in-new-blockchain-wallet-t9736.html">Verification in the blockchain
					 	</a>
					 	<a href="https://tools.bitcoin.com/verify-message/">
					 	Message verification
					 	</a>
					 	</p>
		      </div>
		    </div>
		  </div>
	  </div>
  </div>
  <div class="row">
  	<div class="col s12 m6 nf" style="max-width: 580px;">
  		<p class="pp-description">
  			Have any questions?<br>
  			Don't be afraid to reach out, we're nice.
  		</p>
  		<p class="pp-description shrink">
  			(224)-688-9977 &nbsp;&nbsp;|&nbsp;&nbsp; <a class="link" href="mailto:info@coinflip.tech">info@coinflip.tech</a>
  		</p>
		</div>
  </div>
</div>






<div id="user-edit" class="CTRL kamikaze_btn inv">
	<% if current_user.admin %>
		<%= link_to 'Edit', edit_user_path(@user) %>
    <% for attribute in @user.attributes.keys %>
      <p><%= attribute.humanize %> <%= @user.attributes[attribute].to_s %></p>
    <% end %>
	<% end %>
</div>