/*A KAMIKAZE PRODUCTION IN FULL IN THE LINES BELOW DESTRUCTION UNFOLDS 8.13.17*/
/*
 * DESIGNED FOR MOBILE FROM THE START,
 * STYLES CASCADE FROM THERE, ONTO LARGER 
 * DEVICES, THE FURTHER DOWN THE SHEET
 * YOU ARE
 *           	;-)
 */
/* Smartphones (portrait and landscape) ----------- */
/*@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {}*/
/* Smartphones (landscape) ----------- */
/*@media only screen 
and (min-width : 321px) {}*/
/* Smartphones (portrait) ----------- */
/*@media only screen 
and (max-width : 320px) {}*/


hr { 
	visibility: hidden; 
	padding: 0 !important; 
	margin-top: 0 !important;
}
.paragraph {
	font-size: 1.2em !important;
	line-height: 1.4em;
	padding-left: 15px;
	padding-top: 5px;
}
.pp-center {
	width: 85%; 
	padding: 0 4px; 
	margin: 0 auto;
}
.subsection-header { line-height: 1.3em !important; }
.m-bottom-40 { margin-bottom: 40px; }
.x { color: #ddd; font-size: 12px; }


/* SPLASH
 ****************************************/
#particles-js { height: 90%; }
#home > .full-page-banner { height: 95%; }

nav .navbar-toggle.collapsed i { display:block; }
nav .navbar-header button { margin: 15px !important; }
nav .navbar-header a img { margin: auto 15px !important; }

.full-page-banner > .introduction-content > .container
{ padding-top: 130px !important; }

#landing-logo 
{ margin: 0 auto; margin-bottom: 10px; }
#landing-caption { width: 300px; }
#logo-caption {
	width: 300px;
	left: 0;
	margin: 0 auto;
	margin-bottom: 30px; margin-top: 10px;
	font-size: 1.7em;
	color: #666;
	line-height: 1.3em;
}

.countdown-holder {
	position: relative !important;
	margin: 5px auto;
	left: 0 !important;
}
.countdown-holder div { left: 0 !important; }
#countdown-container {
	background: rgba(240,240,240,0.9);
	border: 1px solid rgba(235,235,235,0.9);
	padding: 5px;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 0;
}
#ctdn-label {
	font-size: 1.7em;
	padding-bottom: 10px;
}
#countdown {
	font-size: 1.75em;
	margin-bottom: 25px;
}

#btn-nest { margin: 0 auto; }

.kamikaze_btn a,
.kamikaze_btn.inv a {
	font-size: 1.4em;
	text-align: center;
	padding: 16px 20px;
	position: relative;
	width: 222px;
	border: solid 1px transparent;

	display: block;
	margin: 10px auto;
}
.kamikaze_btn a,
.kamikaze_btn.inv a:hover {
	color:#FFFFFF; 
	background-color:#DFA94F; 
	border-color:#DFA94F;
}
.kamikaze_btn a:hover, 
.kamikaze_btn.inv a {
	color:#DFA94F; 
	background-color:transparent; 
	border-color:#DFA94F;
}


/* ABOUT
 ****************************************/
#about {
	background: white;
	padding-top: 20px !important;
	padding-bottom: 50px !important;
}
#about .subsection-header-inverse {
	color: #DFA94F !important;
	margin-top: 70px !important;
}
#social-links {
	height: 160px;
}
.github-link,
.facebook-link,
.twitter-link {
	background-color: none !important;
}
.github-link {
	color: #24292E;
}
.facebook-link {
	color: #337ab7;
}
.twitter-link {
	color: #1DA1F2;
}
.token-doc a {
	width: 210px;
	height: 230px;
	padding: 10px 0;
	padding-top: 10px;
	background: transparent !important;
	border: solid 3px #DFA94F !important;
	color: #DFA94F !important;
}
.token-doc .jri-image-holder {
	margin: 10px auto !important;
}
.token-doc .jri-inner-li {
	color: #888;
	font-size:1.2em;
	width: 133px;
	margin: 0 auto !important;
}
.token-doc .jri-inner-li:last-of-type {
	width: 147px;
	margin: 0 auto !important;
}


/* WHAT IS FLIPCOIN?
 ****************************************/
#what-is-flipcoin {
	background: #FAFAFA;
	padding-top: 20px !important;
}
#what-is-flipcoin .subsection-header { font-size: 2.2em !important; }
#what-is-flipcoin .subsection-header .br { display: block; }
#what-is-flipcoin .subsection-header.sub {
	color: #656565;
	font-size: 1.5em !important;
	margin-top: 5px !important;
}
#what-is-flipcoin .kamikaze_btn a { margin-top: 20px !important; }


/* WHAT IS COINFLIP?!
 ****************************************/
#token-sale {
	background: #FAFAFA !important;
	padding-top: 20px !important;
	padding-bottom: 50px !important;
}
#token-sale .subsection-header { font-size: 2.4em !important; }
#token-sale .responsive-embed { margin: 40px auto; }


/* TOKEN SALE TERMS
 ****************************************/
#sale-terms {
	padding-top: 20px !important;
	padding-bottom: 50px !important;
	margin: 0 !important;
}
#sale-terms .subsection-header { font-size: 2.4em !important; }
#sale-terms .col-sm-6:first-of-type .paragraph:last-of-type
{ margin-bottom:40px; }
#sale-terms ul li {
	font-size: 1.1em;
	line-height: 1.3em;
	padding: 3px;
	color: #888;
}
#sale-terms h4 {
    color: #777;
    font-size: 1.5em;
    padding-left: 3px;
    margin-bottom: 28px;
}
#sale-terms h4 > a { font-size: 10px; }


/* OUR TEAM
 ****************************************/
#team {
	padding-top: 20px !important;
	padding-bottom: 50px !important;
}
#team .subsection-header {
	font-size: 2.4em !important;
	padding: 0 !important;
	margin-bottom: 10px !important;
}
#team .team-row { padding: 0 !important; }
#team .pp-holder { padding: 3px 0; }
#team .pp-holder .pp-pic-holder {
	margin: 0 auto;
	width: 200px; height: auto;
}
#team .pp-holder .pp-info-holder {
	margin: -11px auto;
	margin-top: 12px;
	text-align: center;
}
#team .pp-holder .pp-name,
#team .pp-holder .pp-role 
{ text-align: center; }
#team .pp-holder .pp-name { font-size: 1.4em; }
#team .pp-holder .pp-role {
	font-size: 1.0em;
	line-height: 1.1em;
	color: #9E6D1D;
}
.pp-description {
	font-size: 1.1em;
	line-height: 1.3em;
	padding: 3px 16px;
	margin-top: 8px !important;
	text-align: center !important;
	width: 95%; 
	margin: 0 auto !important; margin-top: 20px !important;
}

/* PARTNER SECTION
 ****************************************/
#partners {
	padding-top: 20px !important;
	padding-bottom: 50px !important;
}
.partner-logo {
	width: 50%;
	position: relative;
	margin: 5px auto;
}
.partner-logo > img {
	margin: 0; padding: 0;
	width: 50%;
}



/* CUSTOMER TESTIMONIAL
 ****************************************/
.customer-testimonial {
	background: white;
	padding-top: 20px !important;
 	padding-bottom: 50px !important;
}
.customer-testimonial .pp-pic-holder {
	width: 200px;
	height: auto;
	margin: 0px auto;
}

.customer-testimonial .pp-pic-holder > .ct-name 
{ font-size: 1.35em; margin: 20px auto; }


/* FOOTER
 ****************************************/
#footer { padding: 50px 0 !important; }
#footer .title { margin-bottom: 30px !important; }
#foot-social {
	list-style: none;
	margin-bottom: 35px;
	border: none;
}
#footer .contact.linklist #foot-social li {
	display: inline-block;
	margin: 5px !important;
	padding-bottom: 15px;
	border: none;
}
#footer .contact #foot-social li a { color: white; }
#footer .contact #foot-social li a:hover { color: #DFA94F; }
#footer .contact #foot-social li i { font-size: 22px !important; }














/* OCD IS REAL */
@media only screen
and (min-width: 350px) {
	#social-links { height: 90px; }
}
@media only screen
and (min-width: 400px) {
	#what-is-flipcoin .subsection-header .br 
	{ display: inline-block; }
	#sale-terms .col-sm-6:first-of-type .paragraph:last-of-type
	{ margin-bottom: 10px; }
}
/*@media only screen
and (max-width: 768px) {
	.pp-description { width: 75%; }
}*/
/* iPads(portrait and landscape) + ----------- */
@media only screen 
and (min-width : 768px) {
	.paragraph {
		font-size: 1.2em !important;
		line-height: 1.5em !important;
		padding-left: 55px !important;
	}
	.pp-description { width: 100%; text-align:center!important; }
	.pp-center { width: 60%; }
	#particles-js,
	#home > .full-page-banner { height: 95%; }
	.full-page-banner > .introduction-content > .container {
	 	padding-top: 170px !important;
	}
	nav .navbar-toggle.collapsed i { 
		display: none; 
	}
	#landing-logo {
		width: 530px;
	}
	#logo-caption {
		font-size: 1.9em;
		color: #666;
		line-height: 1.3em;
		margin-top: 20px;
		margin-top: 20px;
		margin-bottom: 30px;
		width: 530px;
	}
	#countdown-container {
		width: 491px;
	}
	#countdown,
	#ctdn-label {
		display: inline-block;
	}
	#countdown {
		color: #888;
		margin-left: 10px;
		margin-bottom: 25px;
	}
	#btn-nest {
		width: 530px;
		text-align: center;
	}
	.kamikaze_btn {
		display: inline-block;
		margin: 10px 20px;
	}

	#what-is-flipcoin .kamikaze_btn {
		display: block;
		margin: 20px auto;
	}

	.token-doc,
	.token-doc a {
		display: inline-block;
	}

	#sale-terms h4 {
		font-size: 1.6em !important;
	}

	#chart-key {
		padding-top: 50px;
	}

	#team .pp-holder .pp-role {
		font-size: 1.2em;
	}
	#team .pp-holder .pp-description {
		font-size: 1.15em;
	}
}
@media only screen
and (min-width: 777px)
and (max-width: 850px) {
	.m-bottom-40 
	{ margin-bottom: 60px; }
	.col-sm-6 
	{ padding: 0; }
}
@media only screen
and (min-width: 980px) {
	#chart-key {
		padding-top: 133px;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
	
}

/* Large screens ----------- */
@media screen 
and (min-width: 1824px) {
	
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}