/*A KAMIKAZE PRODUCTION IN FULL IN THE LINES BELOW DESTRUCTION UNFOLDS 8.13.17*/
/*
 * DESIGNED FOR MOBILE FROM THE START,
 * STYLES CASCADE FROM THERE, ONTO LARGER 
 * DEVICES, THE FURTHER DOWN THE SHEET
 * YOU ARE
 *           	;-)
 */
/* Smartphones (portrait and landscape) ----------- */
/*@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {}*/
/* Smartphones (landscape) ----------- */
/*@media only screen 
and (min-width : 321px) {}*/
/* Smartphones (portrait) ----------- */
/*@media only screen 
and (max-width : 320px) {}*/

hr { 
	visibility: hidden; 
	padding: 0 !important; 
	margin-top: 0 !important;
}
.paragraph {
	font-size: 1.2em !important;
	line-height: 1.4em;
	padding-left: 15px;
	padding-top: 5px;
}
.pp-description {
	font-size: 1.1em;
	line-height: 1.3em;
	padding: 3px 16px;
	margin-top: 8px !important;
	text-align: center !important;
	width: 95%; 
	margin: 0 auto !important; margin-top: 20px !important;
}
.pp-description.shrink {
	font-size: 0.8em;
}
.pp-center {
	width: 85%; 
	padding: 0 4px; 
	margin: 0 auto;
}
.subsection-header { 
	line-height: 1.3em !important; 
}
.m-bottom-40 { 
	margin-bottom: 40px; 
}
.x { 
	color: #ddd; 
	font-size: 12px; 
}
.one-edge-shadow {
  box-shadow: 0 8px 6px -6px #444;
}

.login-holder,
.signup-holder {
	border: 2px solid #F1F1F1 !important;
	border-radius: 4px !important;
	background-color: #F5F5F5 !important;
	padding: 20px !important;
	box-shadow: 0 8px 6px -6px #444;
	margin: 10px auto;
}

/** NAV **/
nav .navbar-toggle.collapsed i { display: block; }
nav .navbar-header button { margin: 15px !important; }
nav .navbar-header a img { margin: auto 15px !important; }

/** BUTTONS & LINKS **/
.kamikaze_btn-noa,
.kamikaze_btn-noa.inv,
.kamikaze_btn a,
.kamikaze_btn.inv a {
	font-size: 1.2em;
	text-align: center;
	padding: 16px 20px;
	position: relative;
	width: 222px;
	border: solid 1px transparent;

	display: block;
	margin: 10px auto;
}

.kamikaze_btn-noa,
.kamikaze_btn-noa.inv:hover,
.kamikaze_btn a,
.kamikaze_btn.inv a:hover {
	color:#FFFFFF; 
	background-color:#DFA94F; 
	border-color:#DFA94F;
}

.kamikaze_btn-noa:hover,
.kamikaze_btn-noa.inv,
.kamikaze_btn a:hover, 
.kamikaze_btn.inv a {
	color:#DFA94F; 
	background-color:transparent; 
	border-color:#DFA94F;
}
.pp-description > a { 
	color: #DFA94F; 
	text-decoration: none; 
}

/** SOCIAL **/
.github-link { color: #24292E; }
.facebook-link { color: #337ab7; }
.twitter-link { color: #1DA1F2; }

/**********************************************************************
 **********************************************************************
 * HOME PAGE 
 **********************************************************************
 **********************************************************************/
/* SPLASH
 ****************************************/
#particles-js 
{ height: 106% !important; }
#home > .full-page-banner 
{ height: 95%; }

.full-page-banner > .introduction-content > .container
{ 
	padding-top: 100px !important; 
	margin-bottom: 20px; 
}

#landing-logo { 
	width: 300px; 
	margin: 0 auto;
	margin-bottom: 10px; 
}

#logo-caption,
#ctdn-label { 
	font-size: 1.5em; 
}

#logo-caption {
	width: 222px;
	left: 0;
	margin: 0 auto;
	margin-bottom: 30px; margin-top: 10px;
	color: #666;
	line-height: 1.3em;
}

.countdown-holder {
	position: relative !important;
	margin: 5px auto;
	left: 0 !important;
}

.countdown-holder div { 
	left: 0 !important; 
}

#countdown-container {
	background: rgba(240,240,240,0.9);
	border: 1px solid rgba(235,235,235,0.9);
	padding: 0 5px;
	width: 222px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#ctdn-label { 
	padding-bottom: 10px; 
}

#countdown {
	font-size: 1.55em;
	margin-bottom: 25px;
}

#btn-nest { 
	margin: 0 auto; 
}

/* ABOUT
 ****************************************/
#about {
	background: white;
	padding-top: 20px !important;
	padding-bottom: 50px !important;
}
#about .subsection-header-inverse {
	color: #DFA94F !important;
	margin-top: 70px !important;
}
#social-links { height: 160px; }
.github-link,
.facebook-link,
.twitter-link { background-color: none !important; }

.token-doc a {
	width: 210px;
	height: 230px;
	padding: 10px 0;
	padding-top: 10px;
	background: transparent !important;
	border: solid 3px #DFA94F !important;
	color: #DFA94F !important;
}
.token-doc .jri-image-holder { 
	margin: 10px auto !important; 
}
.token-doc .jri-inner-li {
	color: #888;
	font-size:1.2em;
	width: 133px;
	margin: 0 auto !important;
}
.token-doc .jri-inner-li:last-of-type {
	width: 147px;
	margin: 0 auto !important;
}
/* WHAT IS FLIPCOIN?
 ****************************************/
#what-is-flipcoin {
	background: #FAFAFA;
	padding-top: 20px !important;
}
#what-is-flipcoin .subsection-header 
{ font-size: 2.2em !important; }
#what-is-flipcoin .subsection-header .br 
{ display: block; }
#what-is-flipcoin .subsection-header.sub {
	color: #656565;
	font-size: 1.5em !important;
	margin-top: 5px !important;
}
#what-is-flipcoin .kamikaze_btn a 
{ margin-top: 20px !important; }
/* WHAT IS COINFLIP?!
 ****************************************/
#token-sale {
	background: #FAFAFA !important;
	padding-top: 20px !important;
	padding-bottom: 50px !important;
}
#token-sale .subsection-header 
{ font-size: 2.4em !important; }
#token-sale .responsive-embed 
{ margin: 40px auto; }
/* TOKEN SALE TERMS
 ****************************************/
#sale-terms {
	padding-top: 20px !important;
	padding-bottom: 50px !important;
	margin: 0 !important;
}
#sale-terms .subsection-header 
{ font-size: 2.4em !important; }
#sale-terms .col-sm-6:first-of-type .paragraph:last-of-type
{ margin-bottom:40px; }
#sale-terms ul li {
	font-size: 1.1em;
	line-height: 1.3em;
	padding: 3px;
	color: #888;
}
#sale-terms h4 {
    color: #777;
    font-size: 1.5em;
    padding-left: 3px;
    margin-bottom: 28px;
}
#sale-terms h4 > a 
{ font-size: 10px; }
/* OUR TEAM
 ****************************************/
#team {
	padding-top: 20px !important;
	padding-bottom: 50px !important;
}
#team .subsection-header {
	font-size: 2.4em !important;
	padding: 0 !important;
	margin-bottom: 10px !important;
}
#team .team-row 
{ padding: 0 !important; }
#team .pp-holder 
{ padding: 3px 0; }
#team .pp-holder .pp-pic-holder {
	margin: 0 auto;
	width: 200px; height: auto;
}
#team .pp-holder .pp-info-holder {
	margin: -11px auto;
	margin-top: 12px;
	text-align: center;
}
#team .pp-holder .pp-name,
#team .pp-holder .pp-role 
{ text-align: center; }
#team .pp-holder .pp-name 
{ font-size: 1.4em; }
#team .pp-holder .pp-role {
	font-size: 1.0em;
	line-height: 1.1em;
	color: #9E6D1D;
}

/* PARTNER SECTION
 ****************************************/
#partners {
	padding-top: 20px !important;
	padding-bottom: 50px !important;
}
.partner-logo {
	width: 350px !important;
	position: relative;
	margin: 5px auto;
}
/* CUSTOMER TESTIMONIAL
 ****************************************/
.customer-testimonial {
	background: white;
	padding-top: 40px !important;
 	padding-bottom: 50px !important;
}
.customer-testimonial .pp-pic-holder {
	width: 200px;
	height: auto;
	margin: 0px auto;
}
.customer-testimonial .pp-pic-holder > .ct-name 
{ font-size: 1.35em; margin: 20px auto; }
/* FOOTER
 ****************************************/
#footer 
{ padding: 50px 0 !important; }
#footer .title 
{ margin-bottom: 30px !important; }
#foot-social {
	list-style: none;
	margin-bottom: 35px;
	border: none;
}
#footer .contact.linklist #foot-social li {
	display: inline-block;
	margin: 5px !important;
	padding-bottom: 15px;
	border: none;
}
#footer .contact #foot-social li a 
{ color: white; }
#footer .contact #foot-social li a:hover 
{ color: #DFA94F; }
#footer .contact #foot-social li i 
{ font-size: 22px !important; }



/**********************************************************************
 **********************************************************************
 * SIGNUP PAGE 
 **********************************************************************
 **********************************************************************/
.signup-holder {
	width: 66%; 
	min-width: 292px; max-width: 600px; 
	margin: 10px auto;
}
.signup h2 { 
	color: #545454 !important; 
	margin-top: 30px !important; 
	font-size: 1.8em; 
	text-align: center; 
}
.REG{ 
	display: inline-block; 
}
.center-block { 
	margin: 5px auto; 
	text-align: center; 
}

#ERRexistence { 
	margin-top: 20px !important; 
	margin-bottom: 40px !important; 
}

form .REG label {
	text-align: left;
}
form .REG input {
	width: 250px; 
	margin: 8px 10px;
	margin-left: 0;
}
.REG.state { 
	margin-left: 0; 
}
.REG.dob { 
	margin-left: -16px; 
	margin-bottom: 10px; 
}
.REG.dob > label {
 margin: 8px 10px; 
 margin-left:0; 
} 
.REG.dob > select { 
	display: inline-block; 
}
.REG.estimate { 
	margin-top: 40px; 
}
.REGsubmit input {
	font-size: 1.4em;
	text-align: center;
	padding: 16px 20px;
	position: relative;
	width: 222px;
	background: #DFA94F;
	border: solid 1px transparent;
	color: white;

	display: block;
	margin: 10px auto !important;
	margin-top: 40px !important;
}
.REGsubmit input:hover {
	color:#DFA94F; 
	background-color:transparent; 
	border-color:#DFA94F;
}


/**********************************************************************
 **********************************************************************
 * LOGIN PAGE 
 **********************************************************************
 **********************************************************************/
.login-holder {
    width: 50%;
    border: 2px solid #F1F1F1;
    border-radius: 4px;
    background-color: #F5F5F5;
    padding: 20px;
    box-shadow: 0 8px 6px -6px #444;
    min-width: 292px; max-width: 300px;
    margin: 0 auto;
    padding: 20px !important;
  }
  .login-holder > form {
    text-align: center;
  }
  .login-holder > form > label {
    text-align: left;
  }
  .login-holder > h2 {
    margin: 10px auto;
    color: #545454 !important;
	margin-top: 30px !important;
	font-size: 1.8em;
	text-align: center;

  }
  .login-holder p {
    text-align: center;
    margin: 30px auto;
    color: #656565;
  }
  #ERRnexistence {
  	margin-top: 20px !important;
	margin-bottom: 40px !important;
  }
  .login-holder p a {
    color: #DFA94F; 
    text-decoration: none; 
  }
  .login-holder .kamikaze_btn-noa {
    margin: 10px auto;
    margin-top: 30px;
  }


/**********************************************************************
 **********************************************************************
 * PROFILE PAGE (IMMEDIATELY AFTER LOGIN)
 **********************************************************************
 **********************************************************************/
 .profile-form {
 	max-width: 560px;
	text-align: center;
	padding: 0 !important;
	padding-bottom: 40px !important;
	background: #F9F9F9;
	border: solid 2px #F1F1F1;
 }
 .profile-form .greeting {
 	color: white !important;
 	margin-top: 0 !important;
 	margin-bottom: 25px !important;
 	background: #DFA94F;
 	border: 1px solid #DFA94F;
 }
 .profile-form .greeting span {
 	color: #f5f5f5 !important;
 	font-size: 1.4em;
 	margin-top: -10px;
 	margin-bottom: 25px;
 }
 .profile-form p {
 	width: 80%;
 	font-size: 1.1em;
 }
 .profile-form p i {
 	color: #DFA94F;
 }
 #user-edit {
 	display: block;
 	margin: 100px auto;
 }
 #edit-ctrls {
 	text-align: center;
	margin-bottom: 60px;
 }


/**********************************************************************
 **********************************************************************
 * EDIT PROFILE SETTINGS
 **********************************************************************
 **********************************************************************/
.CTRL.kamikaze_btn a,
.CTRL.kamikaze_btn.inv a:hover {
	background: #767676;
	color: white;
	border-color: #767676;
}
.CTRL.kamikaze_btn.inv a,
.CTRL.kamikaze_btn a:hover {
	background: transparent;
	color: #767676;
	border-color: #767676;
}



/* OCD IS REAL */
@media only screen
and (min-width: 350px) {
	#social-links 
	{ height: 90px; }
}
@media only screen
and (min-width: 400px) {
	#what-is-flipcoin .subsection-header .br { 
		display: inline-block; 
	}
	#sale-terms .col-sm-6:first-of-type .paragraph:last-of-type { 
		margin-bottom: 10px; 
	}
}

/* iPads(portrait and landscape) + ----------- */
@media only screen 
and (min-width : 768px) {
	.paragraph {
		font-size: 1.2em !important;
		line-height: 1.5em !important;
		padding-left: 55px !important;
	}
	.pp-description 
	{ width: 100%; text-align:center!important; }
	.pp-center 
	{ width: 60%; }
	#particles-js,
	#home > .full-page-banner 
	{ height: 95%; }
	.full-page-banner > .introduction-content > .container 
	{ padding-top: 130px !important; }
	nav .navbar-toggle.collapsed i 
	{ display: none; }
	#landing-logo 
	{ width: 530px; }
	#logo-caption {
		font-size: 1.9em;
		color: #666;
		line-height: 1.3em;
		margin-top: 20px;
		margin-top: 20px;
		margin-bottom: 30px;
		width: 530px;
	}
	#countdown-container 
	{ width: 491px; }
	#countdown,
	#ctdn-label 
	{ display: inline-block; }
	#countdown {
		color: #888;
		margin-left: 10px;
		margin-bottom: 25px;
	}
	#btn-nest 
	{ width: 530px; text-align: center; }

	.kamikaze_btn a,
	.kamikaze_btn.inv a
	{ font-size: 1.4em; }
	.kamikaze_btn 
	{ display: inline-block; margin: 10px 20px; }

	#what-is-flipcoin .kamikaze_btn 
	{ display: block; margin: 20px auto; }

	.token-doc,
	.token-doc a 
	{ display: inline-block; }

	#sale-terms h4 
	{ font-size: 1.6em !important; }

	#chart-key 
	{ padding-top: 50px; }

	#team .pp-holder .pp-role 
	{ font-size: 1.2em; }
	#team .pp-holder .pp-description 
	{ font-size: 1.15em; }


	.profile-form {
		margin-top: 40px;
	}
	.profile-form p {
		font-size: 1.3em;
	}
}








@media only screen
and (min-width: 600px) {
	.REG.state { margin-left: -16px; }
	.REG.dob { margin-left: 0 !important; }
}
@media only screen
and (min-width: 777px)
and (max-width: 850px) {
	.m-bottom-40 
	{ margin-bottom: 60px; }
	.col-sm-6 
	{ padding: 0; }
}
@media only screen
and (min-width: 980px) {
	#chart-key {
		padding-top: 133px;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
	
}

/* Large screens ----------- */
@media screen 
and (min-width: 1824px) {
	
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}