// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login .container, .signup .container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.login .row, .signup .row {
  vertical-align: center;
}

.login .login-holder, .signup .signup-holder {
  border: 2px solid #F9F9F9;
  border-radius: 10px;
  background-color: #DDDDDD;
  padding: 20px;
}

.login input, .signup input {
  margin-bottom: 10px;
}

.login a, .signup a {
  color: #0000EE;
}