/*# sourceMappingURL=bootstrap.css.map */

/***********************************************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
	margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
Written by Christopher Li
*/

*, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none !important;}

#homebody {
	padding: 0;
	margin: 0;
	// background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), image-url("homebackground.jpg") no-repeat center center;
	background-attachment: fixed;
}

.navbar-header a {
  color: black;
}

.logo {
  padding: 10px 0px;
}

.navbar-right {
  padding: 10px 0px;
}

.align-center {
	vertical-align:center;
}

.staticPagesBody {

  body, html {
    overflow-x: hidden;
  }

  #particles-js {
  	position:absolute;
  	height: 100%;
  	width: 100%;
    background-color: rgba(0,0,0,0.02);
  }

  .main-outer {
  	height: 100vh;
  	width: 100%;
  }

  .max-size {
  	height: 100%;
  	width: 100%;
  }

  .text-center {
  	text-align: center;
  }

  .full-page-banner {
  	height: 100%;
  }

  .header.fixed-header {
  	position: fixed;
  	width: 100%;
  	height: 50px;
  	background-color: white;
  	z-index: 175;
  	border-bottom: 1px solid #F9F9F9;
  }

  .nav-container {
  	padding: 0 60px;
  	margin: auto;
  	line-height: 50px;
  }

  @media (max-width: 768px) {
    .introduction-content .logo {
      width: 100%
    }
  }

  .navigation {
  	float: right;
  }

  .navigation ul li {
  	display: inline-block;
  	margin-left: 10px;
  }

  .navigation ul li a {
  	padding: 5px;
  	text-decoration: none;
  	color: #999999;
  }

  #login-nav {
    color: #FBB25A;
  }

  .introduction-content .container {
    padding-top: 150px;
  }

  .image-caption {
    color: #717378;
  }

  .countdown-holder {
    margin: auto;
    z-index: 175;
    position:absolute;
    left: 50%;
    width: 100%;
  }

  .countdown-holder div {
    position: relative;
    left: -50%;
  }

  .countdown-label {
    margin-top: 20px;
    font-size: 150%;
    color: #717378;
  }

  .countdown {
    font-size: 150%;
    margin-bottom: 30px;
    color: #717378;
  }

  .button {
    padding: 10px 40px;
    border: 1px solid #DFA94F;
    background-color: #DFA94F;
    color: white;
  }

  .button:hover {
    background-color: transparent;
    color: #FBB25A;
  }

  .container {
  	margin: auto;
  }

  .how-it-works-section	{
  	// background-color: rgba(0,0,0,0.2);
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), image-url("homebackground.jpg") no-repeat center center;
    // background-color: #F9F9F9;
  	padding: 50px 0;
  }

  .responsive-embed {
  	width: 100%;
  	height: 0;
  	position: relative;
  	display: block;
  }

  .responsive-embed-16by9 {
  	padding-bottom: 56.25%;
  }

  .responsive-embed-item {
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  }

  .team-section {
    background-color: #FAFAFA;
  }

  .team-section h2 {
    font-size: 300%;
    font-weight: bold;
    padding: 50px 0 20px 0;
  }

  .team-row {
    padding-top: 20px;
    padding-bottom: 20px;
    display: relative;
  }

  .row-dark {
    background-color: #FFFFFF;
  }

  .row-inner {
    margin-top: 20px
  }

  .pp-holder {
    margin: 0 20px;
  }

  .pp-pic-holder {
    // margin: 0 20px 20px 0;
    // width: 80px;
  }

  .pp {
    border-radius: 50%;
    width: 100%;
    border: 5px solid #FBB25A;
  }

  .pp-name {
    margin: 10px 0;
    font-size: 110%;
    font-style: bold;
    text-align: left;
  }

  .pp-role {
    margin: 10px 0;
    font-size: 75%;
    color: #888888;
    text-align: left;
  }

  .pp-description {
    margin: 20px 0;
    text-align: left;
  }

  .jump-right-in-section {
    padding: 50px 0;
    background-color: white;
  }

  .jri-li {
    display: inline-block;
    border-radius: 5px;
    margin: 0 10px;
  }
  
  .jri-inner-li {
    padding: 10px;
  }

  .slack-link {
    background-color: #42C299;
    color: white;
  }

  .github-link {
    background-color: #24292E;
    color: white;
  }

  .facebook-link {
    background-color: #3b5998;
    color: white;
  }
  
  .twitter-link {
    background-color: #1DA1F2;
    color: white;
  }

  .token-sale-link {
    background-color: #DFA94F;
    // border: 1px solid #DFA94F;
    color: white;
  }

  .jri-image-holder {
    margin: 10px 40px;
  }

  .jri-image {
    margin: 10px;
  }

  .what-is-flipcoin-section {
    padding: 50px 0;
    text-align: left;
    background-color: #F5F5F5;
  }

  .subsection-header {
    font-size: 2.5em;
    color: #DFA94F;
    margin: 40px 0;
    text-align: center;
  }

  .subsection-header-inverse {
    font-size: 2.5em;
    color: #9E6D1D;
    margin: 40px 0;
    text-align: center;
  }

  .subsubsection-header {
    font-size: 2em;
    color: #DFA94F;
    margin: 20px 0;
    text-align: center;
  }

  .subsubsection-header-inverse {
    font-size: 2em;
    color: #9E6D1D;
    margin: 20px 0;
    text-align:
    center;
  }

  .read-wp-button {
    background-color: white;
    color: #FBB25A;
    padding: 10px 40px;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
  }

  .paragraph-inverse {
    color: white;
    margin: 10px 0;
    font-size: 16px;
  }

  .link-inverse, .paragraph {
    color: #888888;
    margin: 10px 0;
    font-size: 16px;
  }

  .link {
    color: black; 
  }

  .so-what-is-flipcoin {
    text-align: left;
    padding: 50px 0;
    background-color: #DFA94F;
  }

  .swif-section {
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 20px;
    min-height: 450px;
  }

  .token-sale-terms {
    text-align: left;
    color: #888888;
  }

  .token-sale-terms i {
    margin: 0px 10px;
  }

  /* Footer
  --------------------------------------------------------------------------------------------------------------- */
  #footer {text-align: left;color:#FFFFFF; background-color:#313131; border-color:#DFA94F; line-height:1.6;}
  #footer .title{}
  #footer .linklist li{border-color:#414141;}

  #footer input, #footer button{border-color:transparent;}
  #footer input{color:#FFFFFF; background-color:#414141;}
  #footer input:focus{border-color:#DFA94F;}
  #footer button{color:#FFFFFF; background-color:#DFA94F;}

  #footer{padding:80px 0;}

  #footer .title{margin:0 0 50px 0; padding:0; font-size:1.2rem; text-transform:uppercase;}

  #footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid #414141;}
  #footer .linklist li:last-child{margin:0; padding:0; border:none;}
  #footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
  #footer .linklist li, #footer .linklist li::after{clear:both;}

  #footer .contact{}
  #footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
  #footer .contact li *{margin:0; padding:0; }
  #footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}

  #footer input, #footer button{border:1px solid;}
  #footer input{display:block; width:100%; padding:8px;}
  #footer button{padding:8px 18px 10px; text-transform:uppercase; font-weight:700; cursor:pointer;}

  #footer a{color:#9E6D1D;}
  #footer a:hover{color:inherit;}
}


.copyrightbar {
	background-color: white;
	padding-top: 50px;
  padding-bottom: 20px;
  color: #888888;
  font-size: 1.4em;
  line-height: 1.4em;
}

.faqbody {

h1 {
  line-height: 2.3em;
  font-size: 2.3em;
  color: #9E6D1D;
}

.sections {
  padding: 30px 0;
}

.sections h4 {
  line-height: 1.6em;
  font-size: 1.6em;
  color: #DFA94F;
}

.sections p {
  line-height: 1.2em;
  font-size: 1.2em;
  color: #414141;
}

a {
  color: #9E6D1D;
}

}