/*# sourceMappingURL=bootstrap.css.map */

/***********************************************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
	margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
Written by Christopher Li
*/

#homebody {
	padding: 0;
	margin: 0;
	// background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), image-url("homebackground.jpg") no-repeat center center;
	background-attachment: fixed;
}

.navbar-header a {
  color: black;
}

.align-center {
	vertical-align:center;
}

#particles-js {
	position:absolute;
	height: 100%;
	width: 100%;
  background-color: rgba(0,0,0,0.02);
}

.main-outer {
	height: 100vh;
	width: 100%;
}

.max-size {
	height: 100%;
	width: 100%;
}

.text-center {
	text-align: center;
}

.full-page-banner {
	height: 100%;
}

.header.fixed-header {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: white;
	z-index: 175;
	border-bottom: 1px solid #F9F9F9;
}

.nav-container {
	padding: 0 60px;
	margin: auto;
	line-height: 50px;
}

@media (max-width: 768px) {
  .introduction-content .logo {
    width: 100%
  }
}

.navigation {
	float: right;
}

.navigation ul li {
	display: inline-block;
	margin-left: 10px;
}

.navigation ul li a {
	padding: 5px;
	text-decoration: none;
	color: #999999;
}

#login-nav {
  color: #FBB25A;
}

.introduction-content .container {
  padding-top: 150px;
}

.countdown-holder {
  margin: auto;
  z-index: 175;
  position:absolute;
  left: 50%;
}

.countdown, .countdown-label, .join-button {
  position: relative;
  left: -50%;
}

.countdown-label {
  margin-top: 20px;
  font-size: 150%;
  color: #717378;
}

.countdown {
  font-size: 150%;
  margin-bottom: 30px;
  color: #717378;
}

.join-button {
  background-color: #FBB25A;
  padding: 7px 30px;
  border: 1px solid #717378;
  color: #717378;
}

.container {
	margin: auto;
}

.how-it-works-section	{
	// background-color: rgba(0,0,0,0.2);
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), image-url("homebackground.jpg") no-repeat center center;
  // background-color: #F9F9F9;
	padding: 50px 0;
}

.responsive-embed {
	width: 100%;
	height: 0;
	position: relative;
	display: block;
}

.responsive-embed-16by9 {
	padding-bottom: 56.25%;
}

.responsive-embed-item {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.team-section {
  background-color: #FAFAFA;
}

.team-section h2 {
  font-size: 300%;
  font-weight: bold;
  padding: 50px 0 20px 0;
}

.team-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row-dark {
  background-color: #FFFFFF;
}

.row-inner {
  margin-top: 20px
}

.pp-holder {
  margin: 0 20px;
}

.pp-pic-holder {
  // margin: 0 20px 20px 0;
  // width: 80px;
}

.pp {
  border-radius: 50%;
  width: 100%;
  border: 5px solid #FBB25A;
}

.pp-name {
  margin: 10px 0;
  font-size: 110%;
  font-style: bold;
  text-align: left;
}

.pp-role {
  margin: 10px 0;
  font-size: 75%;
  color: #888888;
  text-align: left;
}

.pp-description {
  margin: 20px 0;
  text-align: left;
}


footer {
	background-color: white;
	padding-top: 50px;
}