
tr.admin {
  background-color: #dff0d8;
}

tr.notAuthenticated {
  background-color: #fcf8e3;
}

.greeting {
  line-height: 2.3em;
  font-size: 2.3em;
  color: #9E6D1D;
}

p {
  line-height: 1.2em;
  font-size: 1.2em;
  color: #414141; 
}

.required-label:after{content:" *"}