<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      a {
      	text-decoration: none !important;
      }
      a:visited {
      	color: #9E6D1D;
      }
      .p-kamikaze-style {

      }
      .p-kamikaze-style a {
      	color: #DFA94F;
      }
      .p-kamikaze-style .bold {
      	color: #9E6D1D;
      }
      .p-kamikaze-style .bold > span {
      	font-size: 80%;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
